<!DOCTYPE html>
<html>
<head>
    <title>{{ name }} | Resume</title>
    <link rel="stylesheet" href="/static/css/template5.css">
</head>
<body>

<div class="resume">

<aside>
    <h1>{{ name }}</h1>
    <h3>{{ role }}</h3>

    <section>
        <h2>CONTACT</h2>
        <p>{{ phone }}</p>
        <p>{{ email }}</p>
    </section>

    <section>
        <h2>SKILLS</h2>
        <ul>
            {% for skill in skills.soft %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </section>
</aside>

<main>
    <section>
        <h2>EXPERIENCE</h2>
        {% for exp in experience %}
        <div class="timeline">
            <span>{{ exp.duration }}</span>
            <h4>{{ exp.role }}</h4>
            <p>{{ exp.company }}</p>
            <p>{{ exp.description }}</p>
        </div>
        {% endfor %}
    </section>

           {% if role_bullets %}
        <section>
            <h2>ROLE HIGHLIGHTS</h2>
            <ul>
                 {% for bullet in role_bullets %}
                     <li>{{ bullet }}</li>
                 {% endfor %}
            </ul>
        </section>
        {% endif %}
        
</main>

</div>  <!-- resume div ends -->


<!-- DOWNLOAD BUTTON -->
<div style="text-align:center; margin-top:30px;">
    <form action="/download-resume" method="POST">
        <input type="hidden" name="resume_html" id="resume_html">

        <button type="submit"
        style="
            padding:12px 25px;
            background:#2d6cdf;
            color:white;
            border:none;
            border-radius:6px;
            font-size:16px;
            cursor:pointer;">
            Download PDF
        </button>
    </form>
</div>
<script>
document.querySelector("form").addEventListener("submit", function(){
    document.getElementById("resume_html").value =
        document.querySelector(".resume").outerHTML;
});
</script>

</body>
</html>