<!DOCTYPE html>
<html>
<head>
    <title>{{ name }} | Resume</title>
    <link rel="stylesheet" href="/static/css/template5.css">
</head>
<body>

<div class="resume">

<aside>
    <h1>{{ name }}</h1>
    <h3>{{ role }}</h3>

    <section>
        <h2>CONTACT</h2>
        <p>{{ phone }}</p>
        <p>{{ email }}</p>
    </section>

    {% if skills %}
<section>
    <h2>SKILLS</h2>

    {% if skills.languages %}
    <p><strong>Languages:</strong> {{ skills.languages | join(", ") }}</p>
    {% endif %}

    {% if skills.frameworks %}
    <p><strong>Frameworks:</strong> {{ skills.frameworks | join(", ") }}</p>
    {% endif %}

    {% if skills.tools %}
    <p><strong>Tools:</strong> {{ skills.tools | join(", ") }}</p>
    {% endif %}

    {% if skills.databases %}
    <p><strong>Databases:</strong> {{ skills.databases | join(", ") }}</p>
    {% endif %}

</section>
{% endif %}
</aside>

<main>
    <section>
        <h2>EXPERIENCE</h2>
        {% for exp in experience %}
        <div class="timeline">
            <span>{{ exp.duration }}</span>
            <h4>{{ exp.role }}</h4>
            <p>{{ exp.company }}</p>
            <p>{{ exp.description }}</p>
        </div>
        {% endfor %}
    </section>

             {% if projects %}
    <section>
        <h2>PROJECTS</h2>
        <ul>    
            {% for p in projects %}
                <li>{{ p }}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    
           {% if role_bullets %}
        <section>
            <h2>ROLE HIGHLIGHTS</h2>
            <ul>
                 {% for bullet in role_bullets %}
                     <li>{{ bullet }}</li>
                 {% endfor %}
            </ul>
        </section>
        {% endif %}
        
</main>

</div>  <!-- resume div ends -->

<!-- 🔥 ROLE SECTION (NEW DYNAMIC PART) -->
    {% if role_section %}
    <section>
        <h2>{{ role }} Details</h2>
        <ul>
            {% for key, value in role_section.items() %}
            <li>
                <strong>{{ key.replace("_"," ").title() }}:</strong>
                {{ value }}
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

</div>  <!-- resume ends -->


<!-- DOWNLOAD BUTTON -->
<div style="text-align:center; margin-top:30px;">
    <form action="/download-resume" method="POST">
        <input type="hidden" name="resume_html" id="resume_html">

        <button type="submit"
        style="
            padding:12px 25px;
            background:#2d6cdf;
            color:white;
            border:none;
            border-radius:6px;
            font-size:16px;
            cursor:pointer;">
            Download PDF
        </button>
    </form>
</div>
<script>
document.querySelector("form").addEventListener("submit", function(){
    document.getElementById("resume_html").value =
        document.querySelector(".resume").outerHTML;
});
</script>

</body>
</html>