<!DOCTYPE html>
<html>
<head>
    <title>{{ name }} | Resume</title>
    <link rel="stylesheet" href="/static/css/template4.css">
</head>
<body>

<div class="resume">

<main>
    <h1>{{ name }}</h1>
    <h3>{{ role }}</h3>

    <section>
        <h2>SUMMARY</h2>
        <p>{{ summary }}</p>
    </section>

    <section>
        <h2>EXPERIENCE</h2>
        {% for exp in experience %}
        <h4>{{ exp.role }} – {{ exp.company }}</h4>
        <p>{{ exp.duration }} | {{ exp.location }}</p>
        <ul>
            {% for p in exp.points %}
            <li>{{ p }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </section>
</main>

<aside>
    <section>
        <h2>KEY ACHIEVEMENTS</h2>
        <ul>
            {% for b in role_bullets %}
            <li>{{ b }}</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>EDUCATION</h2>
        {% for edu in education %}
        <p>{{ edu.degree }} – {{ edu.college }}</p>
        {% endfor %}
    </section>

    <section>
        <h2>SKILLS</h2>
        <ul>
            {% for skill in skills.tools %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </section>

           {% if role_bullets %}
        <section>
            <h2>ROLE HIGHLIGHTS</h2>
            <ul>
                 {% for bullet in role_bullets %}
                     <li>{{ bullet }}</li>
                 {% endfor %}
            </ul>
        </section>
        {% endif %}
</aside>

</div>  <!-- resume div ends -->


<!-- DOWNLOAD BUTTON -->
<div style="text-align:center; margin-top:30px;">
    <form action="/download-resume" method="POST">
        <input type="hidden" name="resume_html" id="resume_html">

        <button type="submit"
        style="
            padding:12px 25px;
            background:#2d6cdf;
            color:white;
            border:none;
            border-radius:6px;
            font-size:16px;
            cursor:pointer;">
            Download PDF
        </button>
    </form>
</div>
<script>
document.querySelector("form").addEventListener("submit", function(){
    document.getElementById("resume_html").value =
        document.querySelector(".resume").outerHTML;
});
</script>
</body>
</html>