<!DOCTYPE html>
<html>
<head>
    <title>{{ name }} | Resume</title>
    <link rel="stylesheet" href="/static/css/template2.css">
</head>
<body>

<div class="resume">

    <!-- LEFT SIDEBAR -->
    <aside class="sidebar">
        <h1 class="name">{{ name }}</h1>
        <div class="role">{{ role }}</div>

        <section>
            <h3>CONTACT</h3>
            <p>{{ email }}</p>
            <p>{{ phone }}</p>
            <p>{{ location }}</p>
            <p><a href="{{ linkedin }}">LinkedIn</a></p>
            <p><a href="{{ github }}">GitHub</a></p>
        </section>

        <section>
            <h3>EDUCATION</h3>
            {% for edu in education %}
                <p class="bold">{{ edu.degree }}</p>
                <p>{{ edu.college }}</p>
                <p>{{ edu.year }}</p>
            {% endfor %}
        </section>

        <section>
            <h3>SKILLS</h3>
            <ul>
                {% for skill in skills.technical %}
                    <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </section>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="content">

        <section>
            <h2>WORK EXPERIENCE</h2>

            {% for exp in experience %}
            <div class="job">
                <h3>{{ exp.role }}</h3>
                <span class="company">{{ exp.company }}</span>
                <span class="meta">{{ exp.duration }} | {{ exp.location }}</span>

                <ul>
                    {% for point in exp.points %}
                        <li>{{ point }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>

        <section>
            <h2>PROJECTS</h2>
            {% for proj in projects %}
                <h3>{{ proj.title }}</h3>
                <p class="tech">{{ proj.tech }}</p>
                <ul>
                    {% for p in proj.points %}
                        <li>{{ p }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </section>

        {% if certifications %}
        <section>
            <h2>CERTIFICATIONS</h2>
            <ul>
                {% for cert in certifications %}
                    <li>{{ cert }}</li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        {% if role_bullets %}
        <section>
            <h2>ROLE HIGHLIGHTS</h2>
            <ul>
                 {% for bullet in role_bullets %}
                     <li>{{ bullet }}</li>
                 {% endfor %}
            </ul>
        </section>
        {% endif %}

    </main>

</div>

</body>
</html>