<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial;
            margin: 40px;
        }
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 18px;
            border-bottom: 1px solid #000;
        }
    </style>
</head>
<body>

<h1>{{name}}</h1>
<p>{{email}} | {{phone}}</p>
<p>LinkedIn: {{linkedin}} | Github: {{github}}</p>

<h2>Education</h2>
<p>{{education}}</p>

<h2>Experience</h2>
<p>{{experience}}</p>

<h2>Projects</h2>
<p>{{projects}}</p>

<h2>Skills</h2>
<ul>
    {{skills}}
</ul>

<h2>Certificates</h2>
<p>{{certificates}}</p>


<h2>ATS Enhancements</h2>
<ul>
{% for point in enhanced_points %}
    <li>{{ point }}</li>
{% endfor %}
</ul>

</body>
</html>