<!DOCTYPE html>
<html>
<head>
    <title>{{ name }} | Resume</title>
    <link rel="stylesheet" href="/static/css/template3.css">
</head>
<body>

<div class="resume">

<header>
    <h1>{{ name }}</h1>
    <h3>{{ role }}</h3>
</header>

<div class="container">

<aside>
    <section>
        <h2>CONTACT</h2>
        <p>{{ phone }}</p>
        <p>{{ email }}</p>
        <p>{{ location }}</p>
        <p>{{ linkedin }}</p>
    </section>

    <section>
        <h2>EDUCATION</h2>
        {% for edu in education %}
        <p><strong>{{ edu.degree }}</strong></p>
        <p>{{ edu.college }}</p>
        <p>GPA: {{ edu.cgpa }}</p>
        {% endfor %}
    </section>

    <section>
        <h2>SKILLS</h2>
        <ul>
            {% for skill in skills.technical %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </section>
</aside>

<main>
    <section>
        <h2>PROFILE</h2>
        <p>{{ summary }}</p>
    </section>

    <section>
        <h2>PROJECTS</h2>
        {% for proj in projects %}
        <h4>{{ proj.title }}</h4>
        <ul>
            {% for p in proj.points %}
            <li>{{ p }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </section>

    <section>
        <h2>EXPERIENCE</h2>
        {% for exp in experience %}
        <h4>{{ exp.role }} – {{ exp.company }}</h4>
        <ul>
            {% for p in exp.points %}
            <li>{{ p }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </section>

        {% if role_bullets %}
    <section>
        <h2>ROLE HIGHLIGHTS</h2>
        <ul>
            {% for bullet in role_bullets %}
                <li>{{ bullet }}</li>
            {% endfor %}
        </ul>
    </section>
        {% endif %}

</main>

</div>
</div>

</body>
</html>