body { font-family: Arial; background:#f2f2f2; }
.resume { width:1000px; margin:auto; display:flex; background:white; }

main { width:65%; padding:30px; }
aside { width:35%; background:#0b6b63; color:white; padding:30px; }

h2 { border-bottom:2px solid #ccc; }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #2d6cdf;
}

.profile-pic {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.profile-pic:hover {
    transform: scale(1.05);
}