<!DOCTYPE html>
<html>

<head>
<title>Resume Details</title>
</head>

<body>

<h2>Resume Form – {{ role }}</h2>

<form action="/preview" method="POST">

<h3>Template Fields</h3>

{% for field in template_fields %}

<div style="margin-bottom:15px">

<label>{{ field.replace("_"," ").title() }}</label>

<textarea name="{{ field }}" rows="2"></textarea>

</div>

{% endfor %}


{% if role_fields %}

<h3>{{ role }} Specific Fields</h3>

{% for field in role_fields %}

<div style="margin-bottom:15px">

<label>{{ field.replace("_"," ").title() }}</label>

<textarea name="{{ field }}" rows="2"></textarea>

</div>

{% endfor %}

{% endif %}

<button type="submit">Preview Resume</button>

</form>

</body>
</html>
