<!DOCTYPE html>
<html>
<head>
    <title>Resume Form</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h2>Resume Details</h2>
<p><b>Template:</b> {{ template }} | <b>Role:</b> {{ role }}</p>

<form method="POST" action="/preview">

    <!-- Hidden values (source of truth) -->
    <input type="hidden" name="template" value="{{ template }}">
    <input type="hidden" name="role" value="{{ role }}">

    <!-- COMMON FIELDS -->
    <h3>Basic Information</h3>
    <input name="name" placeholder="Full Name" required>
    <input name="email" placeholder="Email">
    <input name="phone" placeholder="Phone">

    <!-- DYNAMIC AREA -->
    <div id="dynamicFields"></div>

    <br>
    <button type="submit">Preview Resume</button>

</form>

<script>
    const selectedTemplate = "{{ template }}";
    const selectedRole = "{{ role }}";
</script>

<script src="/static/js/dynamic_form.js"></script>

</body>
</html>