<!DOCTYPE html>
<html>
<head>
    <title>CareerPrep AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav class="navbar">
    <h2 class="logo">CareerPrep-AI</h2>
    <div class="profile">👤</div>
</nav>

<section class="hero">
    <h1>AI-Powered Resume & Interview Preparation</h1>
    <p>
        Generate ATS-friendly resumes and practice interview questions
        tailored to your profile and target role.
    </p>

    <div class="actions">
        <a href="/resume" class="btn primary">Generate Resume</a>
        <a href="/interview" class="btn secondary">Interview Training</a>
    </div>
</section>

</body>
</html>